main {
  text-align: center;
  vertical-align: center;
  line-height: 100vh
}
nav{
  disply:flex;
  height:9vh;
}
}.fixed-bottom{
  display:flex;
  justify-content:center;
  align-items:center;
}
body{
  background-color:#CCFFFF;
}


#box3{
  display:flex;
   position:absolute;
  right:20px;
}

.custom-control-input{
  cursor:pointer;
}
.custom-control-label{
  cursor:pointer;
}
